<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/DieroKreator/code/TAU/JavaIntellideaProjects/automation/webdriver_java">
        <classes>
            <class name="alerts.AlertTests">
                <methods>
                    <include name="testAcceptAlert"/>
                    <include name="testGetTextFromAlert"/>
                    <include name="testSetInputInAlert"/>
                </methods>
            </class>
            <class name="alerts.ContextMenuTests">
                <methods>
                    <include name="testRightClick"/>
                </methods>
            </class>
            <class name="alerts.FileUploadTests">
                <methods>
                    <include name="testFileUpload"/>
                </methods>
            </class>
            <class name="frames.FrameTests">
                <methods>
                    <include name="testFrameText"/>
                    <include name="testWysiwyg"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>